<h4>About component</h4>

<input type="number" @bind:get="Age" @bind:set="InvokeParentMethod" />
<h2>Age: @Age</h2>

@code {
    [Parameter]
    public int Age { get; set; }

    [Parameter]
    public EventCallback<int> AgeChanged { get; set; }

    private async Task InvokeParentMethod(int value)
    {
        await AgeChanged.InvokeAsync(value);
    }
}